/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #192841;
    color: white; 
}
  
h1 {
  font-style: oblique;
  color: white;
  font-family: verdana, arial, sans-serif; 
}

.hidden {
  display: none;
}

#startBtn, #stopBtn {
  align-items: center;
  width: 100px;
  font-size: 20px;
}

#startBtn:hover, #stopBtn:hover {
  background-color: black;
  color: white;
}

button {
  padding: 10px;
  border-radius: 10px;
}


#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:15px;
}


#button1 {
  background: lightgreen;
}

#button2 {
  background: lightblue;
}

#button3 {
  background: pink;
}

#button4 {
  background: lightyellow;
}

#button1:active{
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn1.jpg?v=1614810235799");
}

#button1.lit {
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn1.jpg?v=1614810235799");
}

#button2:active{
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn2.jpg?v=1614810236803");
}

#button2.lit {
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn2.jpg?v=1614810236803");
}

#button3:active{
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn3.jpg?v=1614810245340");
}

#button3.lit {
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn3.jpg?v=1614810245340");
}

#button4:active{
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn4.jpg?v=1614810246188");
}

#button4.lit {
  background: url("https://cdn.glitch.com/40cb417e-7307-40a8-a7a4-99ff11deb908%2Fbtn4.jpg?v=1614810246188");
}
 
#try {
  /* width: 100px; */
  display: flex;
  float: right;
  margin-right: 80px;
  font-size: 30px;

}